html {
	background:#f01140 ;
}
.pageBG {
	width:100%;
	height:100%;
	position: fixed;
}
#hungrySnakeLeft {
	width:50%;
	z-index: -4;
	background: #060e3a url('../img/snakefaceleft.png') top left no-repeat;
}
#hungrySnakeLeft.fadeInLeft, #hungrySnakeRight.fadeInRight {
	animation-delay:2s;
	-webkit-animation-delay:2s;
}
#hungrySnakeRight {
	z-index: -4;
	background: url('../img/snakefaceright.png') top right no-repeat;
}
#albumLogo {
	z-index: -3;
	background: url('../img/dpss.png') center center no-repeat;

	-webkit-transition: background 300ms ease-in 200ms; /* property duration timing-function delay */
    -moz-transition: background 300ms ease-in 200ms;
    -o-transition: background 300ms ease-in 200ms;
    transition: background 300ms ease-in 200ms;
}
#silverware {
	z-index: -2;
	background: url('../img/silverware.png') center bottom no-repeat;
}
#silverware.fadeInUp {
	animation-delay:1s;
	-webkit-animation-delay:1s;
}
h1 {
	text-align: center;
}
#media {
	margin-top: emCalc(300px);
}
#media.fadeIn {
	animation-delay:5s;
	-webkit-animation-delay:1.5s;
}
#bandcamp {
	padding-top:1em;
	background:#303030;
}
#social {
	margin-top: emCalc(35px);
}
div.social > div.flipInY {
	animation-delay:3s;
	-webkit-animation-delay:3s;
}
#twitter, #email, #question, #vimeo, #soundcloud {
	width: emCalc(100px);
	height: emCalc(100px);
	display: block;
}
#twitter {
	background: url('../img/twitter2.png') center center no-repeat;
}
#email {
	background: url('../img/email.png') center center no-repeat;
}
#question {
	background: url('../img/question.png') center center no-repeat;
}
#vimeo {
	background: url('../img/vimeo.png') center center no-repeat;
}
#soundcloud {
	background: url('../img/soundcloud.png') center center no-repeat;
}



//Foundation overrides
.row {
	max-width: 85%;
}


